<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#021652;">
  
  <a class="navbar-brand" href="#">
    <h3><img src="../../assets/logo.png" alt="logo" style="padding:10px;height:60px;width:60px">BankBuddy</h3>
  </a>
  <div class="container-fluid" align="right">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarSupportedContent" align="left">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn; else loginButton" (click)="logout()">Logout</a>
        <ng-template #loginButton>
          <a class="nav-link" (click)="login()">Login to My Account</a>
        </ng-template>
        </li>
        <!--li class="nav-item">
          <a class="nav-link"   href="/login">Login to My Account</a>
        </li-->
        
      </ul>

    </div>
  </div>
</nav>
