<footer class="w-100 row justify-content-center align-items-center flex-direction-column pt-3 pt-md-5 pb-md-3 m-0 pr-md-3 pr-lg-0">
    <div class="col-md-12 col-lg-10 offset-lg-1 d-md-flex m-0 p-md-0">
    <div class=" col-12 col-md-7 d-md-flex">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center  justify-content-md-start align-items-md-start flex-md-column double-gutter-md-left-padding">
        <h1 style="color:whitesmoke;"><img src="../../assets/logo.png" alt="logo" style="padding:10px;height:80px;width:80px">MyBank</h1>
    <div class="w-100"></div>
    
      </div>
       <div class="col-md-3">
          <div class="w-100 row justify-content-center align-items-center flex-direction-column">
      <a href="#" class="footer-link">About Us</a>
      <a href="#" class="footer-link">Contact</a>
      <a href="#" class="footer-link">Blog</a>
    </div>
      </div>
       <div class="col-md-3">
          <div class="w-100 row justify-content-center align-items-center flex-direction-column">
      <a href="#" class="footer-link">Careers</a>
      <a href="#" class="footer-link">Support</a>
      <a href="#" class="footer-link">Privacy Policy</a>
    </div>
      </div>
    </div>
    <div class="col-12 col-md-5 p-md-0">
       <button id="footer-request-invite-btn" type="button" class="btn btn-lg rounded-pill text-black mt-3 mb-3 ml-auto mr-auto ml-md-auto mr-md-0">
        <p id="copyright-text" class="text-center text-md-right">© MyBank. All Rights Reserved</p>

       </button>


    </div>
  </div>
    
    <!--<div class="w-100 row justifyt>About Us</a>
      <a href="#" class="footer-link">Contact</a>
      <a href="#" class="footer-link">Blog</a>
      <a href="#" class="footer-link">Careers</a>
      <a href="#" class="footer-link">Support</a>
      <a href="#" class="footer-link">Privacy Policy</a>
    </div>-->

   
  </footer>